/* Media queries */

@media only screen and (min-width: 576px) {
    .elements-modal.modal-open .modal-dialog,
    .elements-modal-no-preview.modal-open .modal-dialog {
        min-width: 550px;
    }

    .elements-select-filters {
        display: none;
    }

    .elements-buttons-filters, .elements-buttons-flavors {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 10px;
    }
}

@media only screen and (min-width: 992px) {
    .elements-modal-no-preview.modal-open .modal-dialog {
        max-width: 550px;
    }

    .elements-buttons-preview.elements-no-preview {
        justify-content: center;
    }

    .elements-buttons-preview.elements-no-preview .elements-buttons-grid {
        grid-gap: 9px;
        justify-content: center;
        width: 405px;
    }

    .elements-buttons-preview.elements-no-preview .elements-code-preview {
        display: none;
    }

    .elements-buttons-grid {
        width: 400px;
        padding: 10px;
    }

    .elementst-dialog-button.elements-custom-icon .elements-button-text i {
        top: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 25px;
        min-width: 25px;
        width: 100%;
        border-right: none;
    }

    .elementst-dialog-button {
        height: 100px;
        width: 116px;
        max-width: 116px;
        box-shadow: none;
        border-radius: 4px;
        margin-bottom: 0;
    }

    .elementst-dialog-button::before {
        content: '';
    }

    .elementst-dialog-button .elements-button-text::before {
        left: 0;
        right: 0;
        margin: 0 auto;
        border-right: none;
        display: inline-block;
        width: 60px;
        height: 60px;
        top: 3px;
    }

    .elementst-dialog-button .elements-button-text {
        padding: 70px 8px 15px 8px;
        font-size: 12px;
        font-weight: 500;
        line-height: 13px;
        width: 80px;
        text-align: center;
        justify-content: center;
    }

    .elementst-dialog-button .elements-button-variants {
        grid-auto-flow: row;
        grid-gap: 0;
        align-content: flex-start;
        justify-content: start;
        width: 36px;
        height: 99px;
        background-color: #ecf3ff;
        margin: 0;
    }

    .elementst-dialog-button .elements-button-variants .elements-button-variant {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1679f9;
        height: 33px;
        width: 36px;
    }

    .elementst-dialog-button:hover,
    .elementst-dialog-button:active {
        box-shadow: 0 0 0 3px rgba(22, 121, 249, 0.3);
    }

    .elementst-dialog-button .elements-button-variants .elements-button-variant:first-child,
    .elementst-dialog-button .elements-button-variants .elements-button-variant:nth-child(2) {
        border-bottom: 1px solid #fff;
    }

    .elementst-dialog-button:hover .elements-button-variants .elements-button-variant {
        box-shadow: none;
    }

    .elements-code-preview {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 377px;
        align-items: center;
        justify-content: center;
    }

    .elements-preview-default {
        border: 1px solid #e1e5ee;
        border-radius: 8px;
        color: #9297a1;
        padding: 23px 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .elements-text-preview {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: 600;
        font-size: 9.5px;
        line-height: 11px;
        letter-spacing: 0.06em;
        color: #fff;
        background-color: #535d76;
        border-radius: 6px;
        padding: 5px;
        text-transform: uppercase;
    }
}
